/*div {
  all: initial;
  * {
    all: unset;
  }
}*/

#map {
        height: 300px;
      }

#pets {
  text-align: left;
  display: inline-block;
  /*overflow: scroll;
  height: 400px;
  width: 700px;*/

}
img {
  max-height: 200px;
  display: inline;
  padding-left: 10px;

}
.photos {
  display: inline-block;

}
#search-terms {
  padding-top: 20px;
  width: 700px;
  display: inline-block;

}

.r-buttons {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}

#fav-pets {
  display: inline-block;
}
