<head>
 <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Dancing+Script|Great+Vibes|Homemade+Apple|Rochester" rel="stylesheet">
</head>
<div id="wrapper">
    <h1>Welcome to Pet Locator!</h1>
    <div id="log-reg">
        <h4>Log In</h4>
        <form (submit) = "onLogin()" class="postForm">

            Email: <input type="text" name="user.email" [(ngModel)] = "user.email"/>
            <br>
            Password: <input type="password" name="user.password" [(ngModel)] = "user.password"/>
            <br>

            <input type="submit" value="Submit" />
        </form>

        <h4>or</h4>

        <h4>Register</h4>
        <form (submit) = "onRegister()" class="postForm">

            Email: <input type="text" name="newUser.email" [(ngModel)] = "newUser.email"/>
            <br>
            Password: <input type="password" name="newUser.password" [(ngModel)] = "newUser.password"/>
            <br>
            Confirm: <input type="password" name="conf-password" >
            <br>
            <input type="submit" value="Submit" />
        </form>
  </div>
</div>
